<div class="jumbotron">
    <div class="col-sm-12 mx-auto">
        <h4>Was möchten Sie tun?</h4>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <%= link_to "Neue Kontaktperson erfassen", new_contact_person_path, class: "btn btn-primary btn-block mb-4" %>
            </div>
            <div class="col-sm-4">
                <%= link_to "Erfasste Kontaktpersonen anzeigen", contact_people_path, class: "btn btn-primary btn-block mb-4" %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <%= link_to "Neuen Indexpatienten erfassen", new_index_patient_path, class: "btn btn-primary btn-block mb-4" %>
            </div>
            <div class="col-sm-4">
                <%= link_to "Erfasste Indexpatienten anzeigen", index_patients_path, class: "btn btn-primary btn-block mb-4" %>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-block mb-4" disabled>Quarantäneverfügung generieren</button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

    </div>
</div>