<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Wir schreiben Ihnen, um Sie dar체ber zu informieren, dass Ihre E-Mail-Adresse zu %{email} ge채ndert werden soll <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Wir schreiben Ihnen, um Sie dar체ber zu informieren, dass Ihre E-Mail-Adresse zu %{email} ge채ndert wurde <%= @resource.email %>.</p>
<% end %>
