<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um Ihr Passwort zu ändern. Klicken Sie auf den unten aufgeführten Link um das Passwort zu ändern.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Bitte ignorieren Sie diese E-Mail, wenn Sie kein neues Passwort angefordert haben.</p>
<p>Das Passwort wird nicht geändert bis Sie den obenstehenden Link abrufen und ein neues Passwort bestimmen.</p>
